<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.looseCannon.evernotenfc">

    <!-- Necessary NFC permission -->
    <uses-permission android:name="android.permission.NFC" />
    <!-- Indicate that the app uses NFC -->
    <uses-feature android:name="android.hardware.nfc" android:required="true" />

    <application
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name">

        <!-- MainActivity which acts as a launcher and passes link to NFCHandlerActivity -->
        <activity
            android:name=".MainActivity"
            android:launchMode="singleTop"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>

            <!-- Intent filter to handle shared data -->
            <intent-filter>
                <action android:name="android.intent.action.SEND" />
                <category android:name="android.intent.category.DEFAULT" />
                <data android:mimeType="text/plain" />
            </intent-filter>

        </activity>

        <!-- NFCHandlerActivity handles the NFC intents -->
        <activity
            android:name=".NFCHandlerActivity"
            android:exported="true"
            android:launchMode="singleTask">

            <intent-filter>
                <action android:name="android.nfc.action.NDEF_DISCOVERED" />
                <category android:name="android.intent.category.DEFAULT" />
                <data
                    android:host="www.evernote.com"
                    android:scheme="https" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.nfc.action.TAG_DISCOVERED" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>

        </activity>

        <activity android:name=".LaunchEvernoteNFCLinkActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.nfc.action.NDEF_DISCOVERED" />
                <category android:name="android.intent.category.DEFAULT" />
                <data android:scheme="vnd.android.nfc" android:host="ext" android:pathPrefix="/com.loosecannon.evernotenfc:uuid8_link" />
            </intent-filter>
        </activity>

        <!-- Add other activities, services, receivers, etc. if any -->

    </application>
</manifest>
